*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 5em;
}

.card .card-btn{
    text-decoration: none;
}

.blockquote-footer{
    font-size: 12px;
}

.wmd-preview{
    display: none;
}

.wmd-panel{
    margin: 0 !important;
    width: 100% !important;
}

.comment{
    margin-top: 1em;
}

.comment .blockquote{
    margin-top: 1em;
}

.card-body label{
    display: none;
}

#id_content{
    max-width: 100%;
    width: 100%;
}

.card-body button{
    float: right;
}
.blockquote .container{
    padding: 0;
    margin: 1em;
}

.blockquote .reply{
    padding: 0;
    margin: 0;
    max-width: 85% !important;
    width: 100% !important;
}

.blockquote .reply #id_content{
    height: 70px !important;
}