*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 5em;
}

.card .card-btn{
    text-decoration: none;
}

.blockquote-footer{
    font-size: 12px;
}

.wmd-preview{
    display: none;
}

.wmd-panel{
    margin: 0 !important;
    width: 100% !important;
}

.comment .lead{
    font-size: 12px;
}