{% extends 'base.html' %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block title %}{{ obj.title }}{% endblock %}

{% block content %}
    <div class="container mb-3">
        <h1>Blog</h1>
        <div class="card">
            <img class="card-img-top img-fluid" src="{{ obj.image.url }}" alt="Card image cap">
            <div class="card-body">
                {% if obj.draft %}
                    <h5 class="card-title" style="color: rgb(209, 89, 89);">Draft</h5>
                    <p class="card-text"><small class="text-muted">Publish Date {{ obj.publish }}</small></p>
                {% endif %}
                <h5 class="card-title">{{ obj.title }}</h5>
                <p class="card-text"><div class="post-item">{{ obj.get_markdown }}</div></p>
                <p class="card-text"><small class="text-muted">Last updated {{ obj.updated }} | Author {{ obj.user }}</small></p>
                <p class="card-text">Share on 
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"> Facebook </a>|
                    <a href="https://twitter.com/home?status={{ obj.content|truncatechars:50|urlify }}%20{{ request.build_absolute_uri }}"> Twitter </a>|
                    <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ obj.title }}"> Reddit </a>
                </p>
                <p class="card-text"><small class="text-muted"><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="false"></div></small></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">Comment</button>
                </form>
                <br>
                <h5 class="lead">Comments</h5>
                {% for comment in comments %}
                    <div class="container comment">
                        <blockquote class="blockquote">
                            <p class="mb-0">{{ comment.content }}</p>
                            <footer class="blockquote-footer">{{comment.user}} on <cite title="Source Title">{{comment.timestamp}}</cite></footer>
                            <div class="container">
                                <form action="" method="POST" class="reply">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button class="btn btn-primary" type="submit">Reply</button>
                                </form>
                            </div>
                        </blockquote>
                    </div>
                    <br>
                    <br>
                    <hr>
                {% endfor %}
                <!-- <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5" data-width=""></div> -->
            </div>
        </div>
    </div>
{% endblock %}