{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h1>Blog</h1>
    <br>
    {% for obj in object_list %}
        <div class="card">
            <a href="{{ obj.get_absolute_url }}" class="card-btn">
            <div class="card-header">
                <h3>{{ obj.title }} <span style="color: rgb(209, 89, 89);">{% if obj.draft %}Draft{% endif %}</span></h3>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p><div class="content-markdown">{{ obj.content }}</div></p>
                <footer class="blockquote-footer">{{ obj.timestamp }} | Author {{ obj.user }}</footer>
              </blockquote>
            </div>
            </a>
          </div>
          <br>
    {% endfor %}
    <div class="paginator">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?{{ page_num }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
            </span>

            {% if object_list.has_next %}
                <a href="?{{ page_num }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}